streamlit==1.48.1
pandas==2.3.2
scikit-learn==1.7.1
xgboost==3.0.4
keras==3.11.3
plotly==6.3.0
ultralytics==8.3.184
tensorflow==2.20.0
numpy==2.2.6
pytesseract==0.3.13
opencv-python-headless==4.8.1.78









